
{{define "form"}}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Input message</title>
</head>
<body>
    <form action="/process" method="post">
      <label for="firstnameid">firstname</label><br>
      <input type="text" id="firstnameid" name="firstname" id=""><br>
      <label for="lastnameid">lastname</label><br>
      <input type="text" id="lastnameid" name="lastname" id=""><br>
      <label for="emailid">email</label><br>
      <input type="email" id="emailid" name="email" id=""><br>
      <label for="genderid">gender</label><br>
      <input type="text" id="genderid" name="gender" id=""><br>
      <label for="countryid">country</label><br>
      <input type="text" id="countryid" name="country" id=""><br>
      <button type="submit">Submit</button>
    </form>
</body>
</html>
{{end}}

{{define "result"}}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Result</title>
</head>
<body>
    <h3>Name: {{.firstname}}</h3>
    <h3>{{.lastname}}</h3>
    <h3>{{.email}}</h3>
    <h3>{{.gender}}</h3>
    <h3>{{.country}}</h3>

    

</body>
</html>
{{end}}

